.top-blue {
    height: 5rem;
    background-color: #0282f9;
    position: relative;

    img {
        width: 200px;
        position: absolute;
        z-index: 1;
        top: -250px;
        left: 300px;
        border: 1px solid white;
    }
}

.comic-container {
    padding: 1.125rem 18.75rem;

    .overview-container {

        display: flex;

        .container-prezzo {
            display: flex;
            background-color: #55ba59;
            padding: .9375rem 1.5625rem;
            color: white;
            justify-content: space-between;
            height: fit-content;
            border-bottom: 1px solid #357739;

            .price {
                display: flex;
                justify-content: space-between;
                flex-grow: 11;
                padding-right: 1.5625rem;
            }

            .dropdown {
                flex-grow: 1;
                text-align: center;
                border-left: 1px solid #357739;
            }
        }

        .adv {
            margin-left: 2.5rem;

            h6 {
                text-align: end;
            }
        }

        p {
            padding-top: 1.875rem;
        }
    }


}

.container-spec {
    background-color: #f6f6f6;
    padding: 1.125rem 18.75rem;
    padding-bottom: 100px;
    border-top: 1px solid #e3e3e3;

    .info {
        display: flex;

        .talent {
            flex-grow: 6;

            div {
                border-bottom: 1px solid #e3e3e3;
                display: flex;
                padding: .625rem 0;

                span {

                    justify-self: center;
                }
            }

        }

        .specs {
            margin-left: 3.125rem;
            flex-grow: 6;

            h5 {
                padding-bottom: 1.875rem;
                border-bottom: 1px solid #e3e3e3;
            }

            div {
                border-bottom: 1px solid #e3e3e3;
                display: flex;
                padding: .625rem 0;

                span {

                    justify-self: center;
                }
            }


        }
    }


}

.container-buy {
    background-color: #f6f6f6;
    padding: 1.125rem 18.75rem;


    border-top: 1px solid #e3e3e3;

    .buy {
        gap: 50px;
        display: flex;
        flex: 1;

        div {
            color: #9f9f9f;
            flex-grow: 3;
            display: flex;
            border-left: 1px solid #e3e3e3;
            justify-content: center;
        }
    }

}